@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    font-size: 18px;
    font-family: 'Bai Jamjuree', sans-serif;
    min-height: 100vh;
}

:root {
    --green:  hsl(171, 66%, 44%);
    --blue: hsl(233, 100%, 69%);
    --dark-gray: hsl(210, 10%, 33%);
    --light-gray:hsl(201, 11%, 66%);
}




.header {
   background-image: url(../images/bg-header-mobile.png);
   background-repeat: no-repeat;
   background-size: cover;
   display: flex;
   flex-direction: column;
    align-items: center;
   justify-content: center;
   text-align: center;
   padding: 1.5rem;
   width: 100%;
}

h1 {
    color: var(--dark-gray);
    font-weight: 500;
    margin-bottom: 1.5rem;
}

h2 {
    color: var(--dark-gray);
    font-weight: 600;
}
p {
    color: var(--light-gray);
    font-weight: 400;
    line-height: 1.5;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 1.5rem;
}

ul {
    list-style-type: none;
}


section h2 {
    padding: 10rem 0 1rem 0;
}

.header p {
    color: var(--light-gray);
    margin-bottom: 2rem;
    line-height: 1.5;
}

.header img {
    margin: 6rem 1rem 3rem 1rem;
}



 button {
    padding: 1rem;
    border-radius: 20px;
    max-width: 315px;
    width: 100%;
    color: white;
    font-size: 0.9rem;
    border: none;
    font-weight: 400;
    box-shadow: 0 6px 15px rgba(26, 188, 156, 0.4);
    border-bottom: 3px solid black;
}

button:nth-of-type(1) {
    margin-bottom: 1rem;
    background-color: var(--green);
}

 button:nth-of-type(2) {
    background-color: var(--blue);
}

 button:hover {
    opacity: 90%;
}


 

.computer-image {
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 3rem auto;
}



li:nth-of-type(1) .features-description,
li:nth-of-type(2) .features-description {
  margin-bottom: 4rem;
}

.features-title {
    font-size: 1.3rem;
    color: var(--dark-gray);
    margin-bottom: 1rem;
    font-weight: 500;
}


.devices {
    max-width: 600px;
    width: 100%;
    height: auto;
    margin: 1.5rem auto;
}

.workflow h2 {
    margin: 0;
    padding: 0;
}

.workflow h2 ~ p {
    margin-bottom: 6rem;
}

.workflow img {
    margin-bottom: 1.5rem;
}

.sponsors {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
    gap: 30px;
}

.clipboard {
    padding-bottom: 10rem;
}
.clipboard p {
    margin-bottom: 2.5rem;
}

footer {
    background-color: #F5F7F8;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.footer-logo {
    padding: 1.5rem;
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

footer p {
    margin-bottom: 1.4rem;
    color: var(--dark-gray);
}

.logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    height: auto;
}

.attribution {
    font-size: 0.7rem;
    margin-top: 1rem;
}

.attribution a {
    color: black;
}

.attribution a:hover {
    color: blue;
}

.attribution a:visited {
    opacity: 95%;
    color: plum;
}



